/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.cta {
  margin-top: 48px;
  background-color: #ff6565;
  color: #fff;
  width: 162px;
  height: 44px;
  border-radius: 32px;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.cta:hover {
  background-color: #ff4747;
}


.whatwedo__content--description {
  margin-top: 4rem;
  max-width: 632px;
  margin-inline: auto;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: #071629;
}

.whatwedo__content--icons {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;

  @media (width <= 900px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (width <= 480px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.whatwedo__content--icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 1rem;
  min-height: 185px;

  p {
    inline-size: 30ch;
    }

}
